.black-part{
    -fx-background-color:  #2F323E;
}

.white-part{
    -fx-background-color: white;
}

.transparent{
    -fx-background-color: transparent;
}

.exit-button{
    -fx-cursor: hand;
}

.minimize-button{
    -fx-cursor: hand;
}

.wallpaper{
}

.wallpaper:hover{
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.scroll-pane {
    -fx-background-color: #2F323E;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #2F323E;
    -fx-background-radius: 5em;
}

.scroll-pane > .corner {
    -fx-background-color: #2F323E;
}

.scroll-pane > .viewport {
   -fx-background-color: white;
}

.scroll-pane {
    -fx-background-color:transparent;
}

.navigation-button{
    -fx-background-color: transparent;
}

.navigation-button:hover{
    -fx-cursor: hand;
    -fx-background-color: #202124;
}

.active-navigation-button{
    -fx-background-color: #202124;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: #006699;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.context-menu .separator {
    -fx-padding: 0.0em 0.333333em 0.0em 0.333333em; /* 0 4 0 4 */
}

.context-menu .scroll-arrow {
    -fx-padding: 0.416667em 0.416667em 0.416667em 0.416667em; /* 5 */
    -fx-background-color: #006699;
}

.context-menu .scroll-arrow:hover {
    -fx-background: -fx-accent;
    -fx-background-color: #006699;
    -fx-text-fill: -fx-selection-bar-text;
}

.context-menu:show-mnemonics .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

.search-textfield{
    -fx-background-color: transparent;
}

.search-field{
    -fx-border-color: #E2E0E2;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}
.search-field-error{
    -fx-border-color: #cc0000;
}