.search-textfield{
    -fx-background-color: transparent;
}

.search-field{
    -fx-border-color: #E2E0E2;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-radius: 5px;
}
.search-field-error{
    -fx-border-color: #cc0000;
}